{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Shopping Bag</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item Details</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                        <tbody>
                            {% for item in bag_items %}
                                <tr>
                                    <th scope="row"><img class="p-3 w-100"src="{{ item.product.main_image.url }}" alt=""></th>
                                    <td>{{ item.product.name }}</td>
                                    <td>£{{ item.product.price }}</td>
                                    <td class="text-center">{{ item.quantity }}</td>
                                    <td>£ {{ item.product.price }}</td>
                                </tr>
                            {% endfor %}
                            <tr >
                                <td class="text-end" colspan="5" >
                                    <h6 >Bag total: £{{ total|floatformat:2 }}</h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    {% if free_delivery_delta > 0 %}
                                        <h6>You can get a free delivery by speding £{{ free_delivery_threshold }} more!</h6>
                                    {% endif %}
                                    <h6>Grand Total: £{{ grand_total|floatformat:2 }}</h6>
                                </td>
                            </tr>
                            <tr >
                                <td class="text-end" colspan="5" >
                                    <a href="{% url 'products' %}">
                                        <button class="shop-now-button">
                                            <h3>Back to shopping</h3>
                                        </button>
                                    </a>
                                    <a href="{% url 'products' %}">
                                        <button class="buttons-invt">
                                            <h3>Checkout</h3>
                                        </button>
                                    </a>

                                </td>
                            </tr>
                        </tbody>
                </table>
                {% else %}
                    <p>Your shopping bag is empty.</p>
                    <a href="{% url 'products' %}">
                        <button class="shop-now-button">
                            <h3>Back to shopping</h3>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}