{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Shopping Bag</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    {{ bag_items }}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item Details</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                        <tbody>
                            {% for item in bag_items %}
                                <tr>
                                    <th class="mx-0" style="width:20%;" scope="row"><img class="p-0 w-100"src="{{ item.product.main_image.url }}" alt=""></th>
                                    <td style="width:35%;">
                                        {{ item.product.name }}
                                        <p class="my-0"><strong>Size:</strong>{% if item.product.has_sizes %}{{ item.size }}{% else %}N/A{% endif %}</p>
                                    </td>
                                    <td style="width:15%;">£{{ item.product.price }}</td>
                                    <td style="width:15%;" class="text-center">
                                        <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm button rounded-0" data-item-id="{{ item.item_id }}"
                                                            id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input type="number" class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1"
                                                        max="99" data-item-id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn button btn-sm" data-item-id="{{ item.item_id }}"
                                                            id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info">Update</a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">Remove</a>
                                    </td>
                                    <td style="width:15%;">£{{ item.product.price | calc_subtotal:item.quantity }}</td>
                                </tr>
                            {% endfor %}
                            <tr >
                                <td class="text-end" colspan="5" >
                                    <h6 >Bag total: £{{ total|floatformat:2 }}</h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    {% if free_delivery_delta > 0 %}
                                        <h6>You can get a free delivery by speding £{{ free_delivery_threshold }} more!</h6>
                                    {% endif %}
                                    <h6>Grand Total: £{{ grand_total|floatformat:2 }}</h6>
                                </td>
                            </tr>
                            <tr >
                                <td class="text-end" colspan="5" >
                                    <a href="{% url 'products' %}">
                                        <button class="shop-now-button">
                                            <h3>Back to shopping</h3>
                                        </button>
                                    </a>
                                    <a href="{% url 'products' %}">
                                        <button class="buttons-invt">
                                            <h3>Checkout</h3>
                                        </button>
                                    </a>

                                </td>
                            </tr>
                        </tbody>
                </table>
                {% else %}
                    <p>Your shopping bag is empty.</p>
                    <a href="{% url 'products' %}">
                        <button class="shop-now-button">
                            <h3>Back to shopping</h3>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        $('.update-link').click(function(e){
            var form = $(this).prev('.update-form');
            form.submit();
        })

        $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

    </script>

{% endblock %}