{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Shopping Bag</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    {% for item in bag_items %}
                        <h5>{{ item.product }}:{{ item.quantity }}</h5>
                    {% endfor %}
                {% else %}
                    <p>Your shopping bag is empty.</p>
                {% endif %}
                <a href="{% url 'products' %}">
                    <button class="shop-now-button">
                        <h3>Back to shopping</h3>
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}