{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="container-fluid image-outer mb-2">
        <div class="row hero-image">
            <div class="col image-text-1 my-auto">
                <h1>Technology</h1>
                    <a href="{% url 'products' %}?categories=tvs,phones,gaming,cameras">
                        <button class="shop-now-button"><h3>Shop Now</h3></button>
                    </a>
            </div>
        </div>
    </div>
    <div class="container-fluid image-outer mb-2">
        <div class="row hero-image-2">
            <div class="col image-text-2 my-auto">
                <h1>Appliances</h1>
                <button class="shop-now-button"><h3>Shop Now</h3></button>
            </div>
        </div>
    </div>
    <div class="container-fluid image-outer mb-2">
        <div class="row hero-image-3">
            <div class="col image-text-3 my-auto">
                <h1>Sports & fitness</h1>
                <button class="shop-now-button"><h3>Shop Now</h3></button>
            </div>
        </div>
    </div>
{% endblock %}
