{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="container-fluid image-outer mb-2">
        <div class="row hero-image">
            <div class="col">
                
            </div>
        </div>
    </div>
    <div class="container-fluid image-outer mb-2">
        <div class="row hero-image-2">
            <div class="col">
                
            </div>
        </div>
    </div>
    <div class="container-fluid image-outer mb-2">
        <div class="row hero-image-3">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}
