@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    height: 100%;
}
header{
    background-color: rgb(0, 231, 193);
}

body{
    font-family: 'lato';
}

a{
    text-decoration:none;
}

.border-black{
    border: 1px black;
}

.button,
.button-opp:hover{
    background: black;
    color: white;
    border:grey 1px solid;
}
.button:hover,
.button-opp{
    background: white;
    color: black;
    border: black 1px solid;
}

.header-container {
    padding-top: 125px;
}

.hero-image{
    background: url("/static/media/home-tech-image.jpg") no-repeat center center;
    height: 100%;
    width: 100vw;
    background-size: cover;
}

.image-outer{
    height:70vh;
    width:100%;
    overflow:hidden;
    position: relative;
}

.hero-image-2{
    background: url("/static/media/home-appliance-image.jpg") no-repeat center center;
    height: 100%;
    width: 100vw;
    background-size: cover;
}

.hero-image-3{
    background: url("/static/media/home-sports-image.jpg") no-repeat center center;
    height: 100%;
    width: 100vw;
    background-size: cover;
}

.image-text-1{
    text-align: right;
    margin-right: 100px;
}

.image-text-2{
    text-align: center;
}

.image-text-3{
    margin-left: 100px;
}

.shop-now-button,
.buttons-invt:hover{
    background: black;
    color: white;
    min-width: 160px;
    padding:10px 24px;
    border:grey 1px solid;
}

.shop-now-button:hover,
.buttons-invt{
    background: white;
    color: black;
    padding:10px 24px;
    border:black 1px solid;
}
.carousel .carousel-indicators button {
    background-color: rgb(0, 0, 0);
}
.carousel .carousel-control-prev-icon{
    background-color: rgb(0, 0, 0);
}
.carousel .carousel-control-next-icon{
    background-color: rgb(0, 0, 0);
}

.update-link:hover,
.remove-item:hover{
    cursor: pointer;
}

.message-container{
    position:fixed;
    top:72px;
    right:15px;
    z-index: 99999999999;
}

.custom-toast{
    overflow: visible;
}
.toast-capper{
    height:10px;
}

.arrow-up{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    left:150px;
    top:-10px;
}

.arrow-success{
    border-bottom-color:  #198754 !important;
}
.arrow-info{
    border-bottom-color: #0dcaf0 !important;
}
.arrow-warning{
    border-bottom-color: #ffc107 !important;
}
.arrow-danger{
    border-bottom-color: #dc3545 !important;
}
.arrow-light{
    border-bottom-color: #f8f9fa !important;
}
.arrow-dark{
    border-bottom-color: #212529 !important;
}

.bag-notification-wrapper{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


@media (max-width: 992px) {
    .header-container {
        padding-top: 80px;
    }
}
.mobile-nav{
    background-color: rgb(0, 231, 193);
}