{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col text-center">
            <h1>Products</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6" style="color:grey;"><small class="border-bottom">Products found: {{ products|length }}</small> </div>
        <div class="sort-select-wrapper justify-content-end d-flex col-6">
            <select id="sort-selector"
                class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
                </option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
                </option>
                <option value="rating_asc" {% if current_sorting ==  'rating_asc' %}selected{% endif %}>Rating (low to
                    high)</option>
                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to
                    low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc"{% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)
                </option>
                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category
                    (Z-A)</option>
            </select>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-3 col-md-6 col-12 my-3">
            <div class="card border-bottom h-100 border-0" style="height: 510px;">
                <img class="card-img-top mt-2" src="{{ product.main_image.url }}" alt="Card image cap">
                <div class="card-body mt-4 py-0">
                    <a href="{% url 'product_detail' product.id %}">
                        <p class="card-text mb-0">{{ product.name }}</p>
                    </a>
                </div>
                <div class="card-footer">
                    <p class="card-text">£{{ product.price }}</p>
                    <small class="card-text mb-0">{{ product.rating }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
