{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col text-center">
            <h1>{{ product.name }}</h1>
        </div>
    </div>
</div>
<div class="container my-2">
    <div class="row bg-light">
        <div id="carouselExampleIndicators" class="carousel slide col-12 col-lg-6 my-auto" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <li>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </li>
            </div>
            
            <div class="carousel-inner">
                <div class="carousel-item active" style="height: 500px;" data-bs-interval="7000">
                    <img src="{{ product.main_image.url }}" style="height: 100%; width: 100%; object-fit: contain"
                        class="d-block w-100" alt="...">
                </div>
                {% if product.image2 %}
                    <div class="carousel-item" style="height: 500px;" data-bs-interval="7000">
                        <img src="{{ product.image2.url }}" style="height: 100%; width: 100%; object-fit: contain"
                            class="d-block w-100" alt="...">
                    </div>
                {% endif %}
                {% if product.image3 %}
                    <div class="carousel-item" style="height: 500px;" data-bs-interval="7000">
                        <img src="{{ product.image3.url }}" style="height: 100%; width: 100%; object-fit: contain"
                            class=" d-block w-100" alt="...">
                    </div>
                {% endif %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-12 col-lg-6 my-1 px-4">
            <h2>About Item</h2>
            <div class="h-25 overflow-auto my-4 border-bottom">
                <p>{{ product.description }}</p>
                <small>Rating:{{ product.rating }}</small>
            </div>
            <p>£{{ product.price }}</p>
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        {% if product.has_sizes %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select name="product_size" id="id_product_size" class="form-control rounded-0 w-25">
                                    <option value="16gb" selected>16GB</option>
                                    <option value="32gb">32GB</option>
                                    <option value="64gb">64GB</option>
                                    <option value="128gb">128GB</option>
                                </select>
                            </div>
                        {% endif %}
                        <p class="mt-2 mb-0">Quantity:</p>
                        <div class="form-group w-25">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn button rounded-0" data-item-id="{{ product.id }}"
                                        id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn button" data-item-id="{{ product.id }}"
                                        id="increment-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <a href="{% url 'products' %}">
                            <span class="buttons-invt">Back</span>
                        </a>
                        <input class="shop-now-button" value="Add to bag"type="submit">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}