<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false" data-bs-delay="3000">
    <div class="toast-header">
        <img src="/static/media/png-transparent-computer-icons-error-scalable-graphics-error-sign-s-angle-triangle-warning-sign.png" style="width: 50px;" class="rounded me-2" alt="...">
        <strong class="me-auto text-warning">Error!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body text-warning bg-white">
            {{ message }}
      </div>
</div>